<!DOCTYPE html>
<html>
    <head>
        <title>blogs-details</title>
    </head>
    <body>
        <div>
            <h1>{{ blog_post.title }}</h1>
            <img src="{{blog_post.picture}}">
            <p>{{blog_post.content}}</p>
            <p>{{blog_post.uploaded_on}}
        </div>
        <h1>Comment form</p>
        <div>
            <form action='{% url "blog-detail" blog_post.id %}' method='post'>
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type='submit'>Post comment</button>
            </form>
        </div>
        <h1>Comments</h1>
        {% for comment in comment_list %}
        <div>
            <h1>{{ comment.name }}</h1>
            <p>{{ comment.content}}</p>
            <p>{{ comment.commented_on }}</p>
        </div>
        {%empty%}
        <p>No comments yet<p>
        {% endfor %}
    </body>
</html>